<!DOCTYPE html>
<html>
<head>
    <title>home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    New User:&nbsp;&nbsp;<button><a href="~/newuser.cshtml" style="color:black;text-decoration:none">signup</a></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Existing User:&nbsp;&nbsp;<button><a href="~/existinguser.cshtml" style="color:black;text-decoration:none">login</a></button>
    
</body>
</html>