<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="~/StyleSheet.css"/>
    </head>
    <body>
        @RenderPage("~/shared/header.cshtml")
        <center>@RenderBody()</center>
        @RenderPage("~/shared/footer.cshtml")
    </body>
</html>
