@using WebMatrix.Data
@{
    Database db = Database.Open("logindb");
    if (IsPost)
    {

        String us = Request.Form["us"];
        String ps = Request.Form["ps"];
        //HttpCookie cook = new HttpCookie(Request.Form["us"]);

        var r = db.QuerySingle("select * from details where username = @0 AND password = @1", us, ps);
        if (r != null)
        {
            //Response.Cookies.Add(cook);
            Response.Cookies["cook"].Value = Request.Form["us"];
            Response.Redirect("~/dummy.cshtml");

        }
        <h4 style="color:red;">Invalid login attempt. Please check your credentials.</h4>
    }
}


<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="">
        Enter username:<input type="text" id="us" name="us" required />
        Enter password:<input type="password" id="ps" name="ps" required />
        <input type="submit" id="btn" name="btn" value="login" />
    </form>

</body>
</html>
