
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Home page</h1>
    <a href="~/newuser.cshtml"><input type="submit" value="newuser" /></a>
    <a href="~/existinguser.cshtml"><input type="submit" value="existinguser" /></a>
</body>
</html>