
<style>
    img {
        border-radius: 20px;
        height: 500px;
        width: 300px;
        border: 5px dashed red;
    }

    .i {
        position: relative;
        display: inline-block;
    }

    .t {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background-color: black;
        height: 500px;
        width: 300px;
        border-radius: 20px;
        text-align: center;
        visibility: default;
    }

    .i:hover .image {
        visibility: hidden;
    }

    .i:hover .t {
        display: block;
    }

    p {
        font-size: 25px;
        font-family: 'Times New Roman';
        color: cyan;
    }

    body {
        background: black;
    }
</style>
</head>
<body>
    <h1><mark>Young Tiger Ntr</mark></h1>
    <p>
        Nandamuri Taraka Rama Rao(born 20 May 1983) is an Indian actor,works in Telugu cinemas.
        From starting his career upto know he taken about 30 films in which some are hit and some
        are flop.All his fans are called him as Young Tiger.

    </p>
    <div style="margin-left:400px" class="i">

        <img class="image" src="https://rukminim2.flixcart.com/image/850/1000/jtg44nk0/poster/b/n/y/medium-ntrm-rp-00ha019-superstar-actor-jr-ntr-hd-wall-poster-original-imafaymmmaxq6wtp.jpeg?q=90"></img>
        <div class="t">
            <p style="font-family:lucida calligraphy;font-size:20px;color:yellow"><b>Student No.1</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Aadi</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Simhadri</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Yama Donga</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Brindavanam</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Temper</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Janatha Garage</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Nanaku Prematho</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>RRR</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Adhurs</b></p>

        </div>
        <h1 style="color:yellow">Hit list</h1>
    </div>
    <div style="margin-left:200px" class="i">
        <img class="image" src="https://w0.peakpx.com/wallpaper/284/100/HD-wallpaper-ntr-tarak.jpg"></img>
        <div class="t">
            
            <p style="font-family:lucida calligraphy;font-size:20px;color:yellow"><b>Subbu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Naa Alludu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Shakti</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Rabasa</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Ramaya Vasthavaya</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Dammu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Rakhi</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Samba</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Ashok</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Baadshah</b></p>

        </div>
        <h1 style="color:yellow">Floop list</h1>
    </div>
    


