
<style>
    img {
        border-radius: 20px;
        height: 500px;
        width: 300px;
        border: 5px dashed red;
    }

    .i {
        position: relative;
        display: inline-block;
    }

    .t {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background-color: black;
        height: 500px;
        width: 300px;
        border-radius: 20px;
        text-align: center;
        visibility: default;
    }

    .i:hover .image {
        visibility: hidden;
    }

    .i:hover .t {
        display: block;
    }

    p {
        font-size: 25px;
        font-family: 'Times New Roman';
        color: cyan;
    }

    body {
        background: black;
    }
</style>
</head>
<body>
    <h1><mark>Power Star Pawan Kalyan</mark></h1>
    <p>
        Pawan Kalyan (born on 2 September 1968) is an Indian actor,works in Telugu cinemas.
        From starting his career upto know he taken about 32 films in which some are hit and some
        are flop.All his fans are called him as power star.

    </p>
    <div style="margin-left:400px" class="i">

        <img class="image" src="https://www.teahub.io/photos/full/71-716280_pawan-kalyan-photos-download-full-hd.jpg"></img>
        <div class="t">
            <p style="font-family:lucida calligraphy;font-size:20px;color:yellow"><b>Kushi</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Gabbar Singh</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Atharintiki Daaredi</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Tholi Prema</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Cameraman Gangatho Rambabu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Badri</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Thammudu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Sardhar Gabbar Singh</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Jalsa</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Vakeel Saab</b></p>

        </div>
        <h1 style="color:yellow">Hit list</h1>
    </div>
    <div style="margin-left:200px" class="i">
        <img class="image" src="https://pbs.twimg.com/media/FwaB-WVaIAAzSOm?format=jpg&name=4096x4096"></img>
        <div class="t">

            <p style="font-family:lucida calligraphy;font-size:20px;color:yellow"><b>Agnyaathavaasi</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Komaram puli</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Bro</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Katamanayudu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Teen Maar</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Jonny</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Panja</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Bangaram</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Gudumba Shankar</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Annavaram</b></p>

        </div>
        <h1 style="color:yellow">Floop list</h1>
    </div>
