
<style>
    img {
        border-radius: 20px;
        height: 500px;
        width: 300px;
        border: 5px dashed red;
    }

    .i {
        position: relative;
        display: inline-block;
    }

    .t {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        background-color: black;
        height: 500px;
        width: 300px;
        border-radius: 20px;
        text-align: center;
        visibility: default;
    }

    .i:hover .image {
        visibility: hidden;
    }

    .i:hover .t {
        display: block;
    }

    p {
        font-size: 25px;
        font-family: 'Times New Roman';
        color: cyan;
    }

    body {
        background: black;
    }
</style>
</head>
<body>
    <h1><mark>Mega Power Star Ram Charan</mark></h1>
    <p>
        Ram Charan(born 27 March 1985) is an Indian actor,works in Telugu cinemas.
        From starting his career upto know he taken about 14 films in which some are hit and some
        are flop.All his fans are called him as Mega Power Star.

    </p>
    <div style="margin-left:400px" class="i">

        <img class="image" src="https://rukminim2.flixcart.com/image/850/1000/kxuqdu80/wall-decoration/t/f/z/ram-charan-actor-dhruva-movie-ramcharan-rrr-telugu-wallpaer-original-imaga7vxgv4fnycd.jpeg?q=20"></img>
        <div class="t">
            <p style="font-family:lucida calligraphy;font-size:20px;color:yellow"><b>Magadheera</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Chirutha</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Dhruva</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Naayak</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Yevadu</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Govindhudu Andharidivadele</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Rangasthalam</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>RRR</b></p>
            
        </div>
        <h1 style="color:yellow">Hit list</h1>
    </div>
    <div style="margin-left:200px" class="i">
        <img class="image" src="https://i.pinimg.com/originals/44/8b/bf/448bbfe8705e27c54a9432edb4bb80fa.jpg"></img>
        <div class="t">

            <p style="font-family:lucida calligraphy;font-size:20px;color:yellow"><b>Racha</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Acharya</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Thoofan</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Vinaya Vidheya Rama</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Bruce Lee</b></p>
            <p style="font-family: lucida calligraphy; font-size: 20px; color: yellow"><b>Orange</b></p>

        </div>
        <h1 style="color:yellow">Floop list</h1>
    </div>



