<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Hello World</h1>
        <h1><ins>Home Page</ins></h1>
        @RenderPage("~/shared/_Header.cshtml")
    <ul>
        <li><a href="~/shared/pspk.cshtml" style="text-decoration:none">Pawan Kalyan</a></li>
        <li><a href="~/shared/ntr.cshtml" style="text-decoration:none">NTR</a></li>
        <li><a href="~/shared/rc.cshtml" style="text-decoration:none">Ram Charan</a></li>

    </ul>
        @RenderPage("~/shared/_Footer.cshtml")

    </body>
</html>
